<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Coding Events</title>
</head>
<body>
<h1>All Events</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${events} and ${events.size()}">No Events!</p>
<!--if there are events display them, if there are not, display No Events-->

<ul>
    <th:block th:each="event : ${events}">
        <li th:text="${event}"></li>
        <th:block>
</ul>


</body>
</html>